/* Import Material Symbols */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Base Body Styling */
body {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    transition: background-color 0.5s ease, color 0.5s ease;
    min-height: 100vh;
    /* Firefox Version */
    /*scrollbar-width: thin;
    scrollbar-color: var(--md-sys-color-primary) var(--md-sys-color-secondary);
    */
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 40px;
}

/* --- Profile & Banner --- */

.banner-wrapper {
    width: 100%;
    height: 520px;
    border-radius: 32px;
    overflow: hidden;
    border: 1px solid var(--md-sys-color-tertiary);
    box-shadow: 0 0 20px rgb(from var(--md-sys-color-outline-variant) r g b / 0.2);
    transition: border 0.3s ease;
}
.banner-img { width: 100%; height: 100%; display: block; object-fit: cover; }

/* --- Header Info --- */
.header-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 0 10px;
}
.header-left { flex: 1; text-align: left; }
.header-right { flex: 0.5; text-align: right; display: flex; flex-direction: column; align-items: flex-end; }

.header_title {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgb(from var(--md-sys-color-primary) r g b / 0.3);
}

.text-head { color: var(--md-sys-color-primary); }

/* --- Info --- */
.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
}

.about-section {
    background-color: var(--md-sys-color-surface-container);
    border-radius: 20px;
    padding: 1px 24px;
    transition: background-color 0.3s ease;
}
.about-section h3 {
    font-size: 1.6rem;
    color: var(--md-sys-color-tertiary);
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.about-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--md-sys-color-tertiary);
    max-width: 500px;
}

.bio-section {
    background-color: var(--md-sys-color-surface-container);
    border-radius: 20px;
    padding: 1px 24px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}
.bio-section h3 {
    font-size: 1.6rem;
    color: var(--md-sys-color-tertiary);
    margin-bottom: 10px;
    letter-spacing: 1px;;
}
.bio-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--md-sys-color-tertiary);
    max-width: 500px;
}

.tag {
    display: inline-block;
    font-size: 0.85rem;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    border-radius: 8px;
    margin-top: 8px;
    padding: 4px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.divider {
    width: 100%;
    height: 24px;
    background-color: var(--md-sys-color-outline-variant);
}

/* --- Social Icons--- */
.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.social-icons a {
    color: var(--md-sys-color-primary);
    font-size: 1.6rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    background-color: var(--md-sys-color-primary-fixed-dim);
    text-decoration: none;
    position: relative;
}

.social-icons a:hover {
    color: var(--md-sys-color-primary);
    background-color: rgb(from var(--md-sys-color-primary-fixed-dim) r g b / 0.8);
}

.social-icons a::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    
    background-color: rgb(from var(--md-sys-color-primary-container) r g b /  0.95);
    color: var(--md-sys-color-primary);
    padding: 6px 12px;
    border-radius: 24px;
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    border: 1px solid var(--md-sys-color-outline);
    box-shadow: 0 5px 15px rgb(from var(--md-sys-color-outline-variant) r g b / 0.5);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 100;
}

.social-icons a::after {
    content: '';
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    
    border-width: 4px;
    border-style: solid;
    
    border-color: var(--md-sys-color-primary) transparent transparent transparent;
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 100;
}

.social-icons a:hover::before,
.social-icons a:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.social-icons a:hover::before {
    border-color: var(--md-sys-color-primary);
}
.social-icons a:hover::after {
    border-top-color: var(--md-sys-color-primary);
}

/* --- Theme Controls --- */
.controls {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px;
    background-color: var(--md-sys-color-surface-container);
    border-radius: 28px;
    width: fit-content;
    transition: background-color 0.5s ease;
}

.switch-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* --- Language EN/TH --- */
.language {
    color: var(--md-sys-color-primary);
    font-family: 'Google Sans Flex', sans-serif;
    font-size: 1.2rem;
    transition: color 0.5s ease;
}

/* --- Icon --- */
md-icon {
    font-family: 'Material Symbols Outlined';
    color: var(--md-sys-color-primary-fixed-variant);
    transition: color 0.5s ease;
}
i.fa-brands {
    color: var(--md-sys-color-primary-container);
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    transition: color 0.5s ease;
}
i.fa-brands.fa-github {
    color: #333;
}
i.fa-brands.fa-discord {
    color: #5865F2;
}
i.fa-brands.fa-facebook {
    color: #1877F2;
}

.card-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--md-sys-color-primary);
}
.custom-img-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 11px;
    vertical-align: middle;
}

/* --- Floating Settings Widget --- */
.settings-floating-widget {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
    
    background-color: rgb(from var(--md-sys-color-primary-container) r g b / 0.75);
    backdrop-filter: blur(5px);
    color: var(--md-sys-color-primary);
    padding: 8px 15px;
    border-radius: 32px;
    border: 1px solid var(--md-sys-color-outline r g b / 0.1);
    transition: background-color 0.5s ease, color 0.5s ease;
    
    font-family: 'Google Sans Flex', sans-serif;
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    box-shadow: 0 4px 10px rgb(from var(--md-sys-color-outline-variant) r g b / 0.3);
    user-select: none;
}

/* Mobile */
@media (max-width: 768px) {
    .header-info { flex-direction: column; gap: 30px; }
    .header-right { text-align: left; align-items: flex-start; }
    .content-area { grid-template-columns: 1fr; }
    .header_title { font-size: 2.5rem; }
    .discord-widget {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        max-width: 100%;
    }
    .discord-right {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
    }
    .social-buttons-container {
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .stats-floating-widget { bottom: 10px; left: 10px; padding: 6px 12px; font-size: 12px; }
}

/* --- Footer --- */
.site-footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--md-sys-color-outline-variant);
    text-align: center;
    color: var(--md-sys-color-primary);
    font-size: 0.9rem;
    opacity: 0.7;
    transition: color 0.5s ease;
}

/* Customize the scrollbar track (the background) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* The draggable part (the thumb) */
::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-primary);
    border-radius: 12px;
}

/* The thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--md-sys-color-secondary);
}

/* The track background */
::-webkit-scrollbar-track {
    background-color: var(--md-sys-color-surface);
}

/* --- English Font --- */
html[lang="en"] {
  font-family: 'Google Sans Flex', sans-serif;
  --md-sys-typescale-body-medium-line-height: 1.5;
  --md-sys-typescale-title-large-line-height: 1.2;
}

/* --- Thai Font--- */
html[lang="th"] {
  font-family: 'Itim', cursive;
  --md-sys-typescale-body-medium-line-height: 1.8;
  --md-sys-typescale-title-large-line-height: 1.4;
}

/* --- Light Mode --- */
[data-theme="light"][data-contrast="sc"] {
  --md-sys-color-primary: rgb(27 107 81);
  --md-sys-color-surface-tint: rgb(27 107 81);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(166 242 209);
  --md-sys-color-on-primary-container: rgb(0 81 59);
  --md-sys-color-secondary: rgb(76 99 89);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(206 233 219);
  --md-sys-color-on-secondary-container: rgb(53 75 65);
  --md-sys-color-tertiary: rgb(62 99 116);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(194 232 253);
  --md-sys-color-on-tertiary-container: rgb(38 75 92);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 245);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 245);
  --md-sys-color-on-surface: rgb(23 29 26);
  --md-sys-color-surface-variant: rgb(219 229 222);
  --md-sys-color-on-surface-variant: rgb(64 73 68);
  --md-sys-color-outline: rgb(112 121 116);
  --md-sys-color-outline-variant: rgb(191 201 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(236 242 237);
  --md-sys-color-inverse-primary: rgb(139 214 182);
  --md-sys-color-primary-fixed: rgb(166 242 209);
  --md-sys-color-on-primary-fixed: rgb(0 33 22);
  --md-sys-color-primary-fixed-dim: rgb(139 214 182);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 59);
  --md-sys-color-secondary-fixed: rgb(206 233 219);
  --md-sys-color-on-secondary-fixed: rgb(9 32 23);
  --md-sys-color-secondary-fixed-dim: rgb(179 204 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 75 65);
  --md-sys-color-tertiary-fixed: rgb(194 232 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 42);
  --md-sys-color-tertiary-fixed-dim: rgb(166 204 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(38 75 92);
  --md-sys-color-surface-dim: rgb(214 219 214);
  --md-sys-color-surface-bright: rgb(245 251 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 240);
  --md-sys-color-surface-container: rgb(233 239 234);
  --md-sys-color-surface-container-high: rgb(228 234 228);
  --md-sys-color-surface-container-highest: rgb(222 228 223);
}
[data-theme="light"][data-contrast="mc"] {
  --md-sys-color-primary: rgb(0 63 45);
  --md-sys-color-surface-tint: rgb(27 107 81);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(46 122 95);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(36 59 49);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(91 114 103);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(18 58 74);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(77 114 132);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 251 245);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 245);
  --md-sys-color-on-surface: rgb(13 18 16);
  --md-sys-color-surface-variant: rgb(219 229 222);
  --md-sys-color-on-surface-variant: rgb(47 56 52);
  --md-sys-color-outline: rgb(75 85 79);
  --md-sys-color-outline-variant: rgb(102 111 106);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(236 242 237);
  --md-sys-color-inverse-primary: rgb(139 214 182);
  --md-sys-color-primary-fixed: rgb(46 122 95);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(9 97 72);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(91 114 103);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(67 90 79);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(77 114 132);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(53 89 106);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 200 195);
  --md-sys-color-surface-bright: rgb(245 251 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 240);
  --md-sys-color-surface-container: rgb(228 234 228);
  --md-sys-color-surface-container-high: rgb(216 222 217);
  --md-sys-color-surface-container-highest: rgb(205 211 206);
}
[data-theme="light"][data-contrast="hc"] {
  --md-sys-color-primary: rgb(0 51 36);
  --md-sys-color-surface-tint: rgb(27 107 81);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 84 61);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(26 48 39);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(55 78 68);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(3 48 64);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(40 78 94);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 251 245);
  --md-sys-color-on-background: rgb(23 29 26);
  --md-sys-color-surface: rgb(245 251 245);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(219 229 222);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(37 46 42);
  --md-sys-color-outline-variant: rgb(66 75 70);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(139 214 182);
  --md-sys-color-primary-fixed: rgb(0 84 61);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 59 42);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(55 78 68);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(33 55 46);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(40 78 94);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(13 55 71);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(180 186 181);
  --md-sys-color-surface-bright: rgb(245 251 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(236 242 237);
  --md-sys-color-surface-container: rgb(222 228 223);
  --md-sys-color-surface-container-high: rgb(208 214 209);
  --md-sys-color-surface-container-highest: rgb(194 200 195);
}

/* --- Dark Mode --- */
[data-theme="dark"][data-contrast="sc"] {
  --md-sys-color-primary: rgb(139 214 182);
  --md-sys-color-surface-tint: rgb(139 214 182);
  --md-sys-color-on-primary: rgb(0 56 40);
  --md-sys-color-primary-container: rgb(0 81 59);
  --md-sys-color-on-primary-container: rgb(166 242 209);
  --md-sys-color-secondary: rgb(179 204 191);
  --md-sys-color-on-secondary: rgb(30 53 43);
  --md-sys-color-secondary-container: rgb(53 75 65);
  --md-sys-color-on-secondary-container: rgb(206 233 219);
  --md-sys-color-tertiary: rgb(166 204 224);
  --md-sys-color-on-tertiary: rgb(9 53 68);
  --md-sys-color-tertiary-container: rgb(38, 75, 92);
  --md-sys-color-on-tertiary-container: rgb(194 232 253);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 21 18);
  --md-sys-color-on-background: rgb(222 228 223);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(222 228 223);
  --md-sys-color-surface-variant: rgb(64 73 68);
  --md-sys-color-on-surface-variant: rgb(191 201 194);
  --md-sys-color-outline: rgb(137 147 141);
  --md-sys-color-outline-variant: rgb(64 73 68);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(44 50 46);
  --md-sys-color-inverse-primary: rgb(27 107 81);
  --md-sys-color-primary-fixed: rgb(166 242 209);
  --md-sys-color-on-primary-fixed: rgb(0 33 22);
  --md-sys-color-primary-fixed-dim: rgb(139 214 182);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 59);
  --md-sys-color-secondary-fixed: rgb(206 233 219);
  --md-sys-color-on-secondary-fixed: rgb(9 32 23);
  --md-sys-color-secondary-fixed-dim: rgb(179 204 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 75 65);
  --md-sys-color-tertiary-fixed: rgb(194 232 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 42);
  --md-sys-color-tertiary-fixed-dim: rgb(166 204 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(38 75 92);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(52 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 13);
  --md-sys-color-surface-container-low: rgb(23 29 26);
  --md-sys-color-surface-container: rgb(27 33 30);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 51);
}
[data-theme="dark"][data-contrast="mc"] {
  --md-sys-color-primary: rgb(160 236 203);
  --md-sys-color-surface-tint: rgb(139 214 182);
  --md-sys-color-on-primary: rgb(0 44 31);
  --md-sys-color-primary-container: rgb(85 158 130);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(200 226 213);
  --md-sys-color-on-secondary: rgb(19 42 33);
  --md-sys-color-secondary-container: rgb(126 150 138);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(188 226 246);
  --md-sys-color-on-tertiary: rgb(0 41 56);
  --md-sys-color-tertiary-container: rgb(113 150 169);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 21 18);
  --md-sys-color-on-background: rgb(222 228 223);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 68);
  --md-sys-color-on-surface-variant: rgb(213 223 216);
  --md-sys-color-outline: rgb(171 180 174);
  --md-sys-color-outline-variant: rgb(137 147 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(37 43 40);
  --md-sys-color-inverse-primary: rgb(0 83 60);
  --md-sys-color-primary-fixed: rgb(166 242 209);
  --md-sys-color-on-primary-fixed: rgb(0 21 13);
  --md-sys-color-primary-fixed-dim: rgb(139 214 182);
  --md-sys-color-on-primary-fixed-variant: rgb(0 63 45);
  --md-sys-color-secondary-fixed: rgb(206 233 219);
  --md-sys-color-on-secondary-fixed: rgb(1 21 13);
  --md-sys-color-secondary-fixed-dim: rgb(179 204 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(36 59 49);
  --md-sys-color-tertiary-fixed: rgb(194 232 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 19 28);
  --md-sys-color-tertiary-fixed-dim: rgb(166 204 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(18 58 74);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(64 70 66);
  --md-sys-color-surface-container-lowest: rgb(4 8 6);
  --md-sys-color-surface-container-low: rgb(25 31 28);
  --md-sys-color-surface-container: rgb(35 41 38);
  --md-sys-color-surface-container-high: rgb(46 52 49);
  --md-sys-color-surface-container-highest: rgb(57 63 60);
}
[data-theme="dark"][data-contrast="hc"] {
  --md-sys-color-primary: rgb(183 255 223);
  --md-sys-color-surface-tint: rgb(139 214 182);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(135 210 178);
  --md-sys-color-on-primary-container: rgb(0 14 8);
  --md-sys-color-secondary: rgb(220 246 232);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(175 200 187);
  --md-sys-color-on-secondary-container: rgb(0 14 8);
  --md-sys-color-tertiary: rgb(223 243 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(162 200 220);
  --md-sys-color-on-tertiary-container: rgb(0 13 20);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 21 18);
  --md-sys-color-on-background: rgb(222 228 223);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 68);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 242 235);
  --md-sys-color-outline-variant: rgb(187 197 190);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 83 60);
  --md-sys-color-primary-fixed: rgb(166 242 209);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(139 214 182);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 13);
  --md-sys-color-secondary-fixed: rgb(206 233 219);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(179 204 191);
  --md-sys-color-on-secondary-fixed-variant: rgb(1 21 13);
  --md-sys-color-tertiary-fixed: rgb(194 232 253);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(166 204 224);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 19 28);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(75 81 78);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 30);
  --md-sys-color-surface-container: rgb(44 50 46);
  --md-sys-color-surface-container-high: rgb(55 61 57);
  --md-sys-color-surface-container-highest: rgb(66 72 69);
}