.dark-high-contrast {
  --md-sys-color-primary: rgb(183 255 223);
  --md-sys-color-surface-tint: rgb(134 214 181);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(131 210 178);
  --md-sys-color-on-primary-container: rgb(0 14 8);
  --md-sys-color-secondary: rgb(215 247 231);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(170 202 186);
  --md-sys-color-on-secondary-container: rgb(0 14 8);
  --md-sys-color-tertiary: rgb(241 238 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(190 188 255);
  --md-sys-color-on-tertiary-container: rgb(4 0 59);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 18);
  --md-sys-color-on-background: rgb(224 227 223);
  --md-sys-color-surface: rgb(16 20 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 73 68);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 243 235);
  --md-sys-color-outline-variant: rgb(186 197 190);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 227 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 83 60);
  --md-sys-color-primary-fixed: rgb(162 243 209);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(134 214 181);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 13);
  --md-sys-color-secondary-fixed: rgb(202 234 217);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(174 206 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 13);
  --md-sys-color-tertiary-fixed: rgb(226 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(194 193 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 4 68);
  --md-sys-color-surface-dim: rgb(16 20 18);
  --md-sys-color-surface-bright: rgb(77 81 78);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 33 30);
  --md-sys-color-surface-container: rgb(45 49 47);
  --md-sys-color-surface-container-high: rgb(56 60 58);
  --md-sys-color-surface-container-highest: rgb(67 72 69);
}
