.light {
  --md-sys-color-primary: rgb(12 105 78);
  --md-sys-color-surface-tint: rgb(17 107 80);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(49 130 102);
  --md-sys-color-on-primary-container: rgb(245 255 248);
  --md-sys-color-secondary: rgb(72 100 88);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(199 231 215);
  --md-sys-color-on-secondary-container: rgb(76 105 92);
  --md-sys-color-tertiary: rgb(86 86 146);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(111 110 172);
  --md-sys-color-on-tertiary-container: rgb(255 251 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 250 246);
  --md-sys-color-on-background: rgb(24 29 26);
  --md-sys-color-surface: rgb(247 250 246);
  --md-sys-color-on-surface: rgb(24 29 26);
  --md-sys-color-surface-variant: rgb(218 229 222);
  --md-sys-color-on-surface-variant: rgb(63 73 68);
  --md-sys-color-outline: rgb(111 122 115);
  --md-sys-color-outline-variant: rgb(190 201 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 47);
  --md-sys-color-inverse-on-surface: rgb(238 242 237);
  --md-sys-color-inverse-primary: rgb(134 214 181);
  --md-sys-color-primary-fixed: rgb(162 243 209);
  --md-sys-color-on-primary-fixed: rgb(0 33 22);
  --md-sys-color-primary-fixed-dim: rgb(134 214 181);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 59);
  --md-sys-color-secondary-fixed: rgb(202 234 217);
  --md-sys-color-on-secondary-fixed: rgb(3 32 22);
  --md-sys-color-secondary-fixed-dim: rgb(174 206 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(48 76 64);
  --md-sys-color-tertiary-fixed: rgb(226 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(21 18 77);
  --md-sys-color-tertiary-fixed-dim: rgb(194 193 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 64 123);
  --md-sys-color-surface-dim: rgb(215 219 215);
  --md-sys-color-surface-bright: rgb(247 250 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 240);
  --md-sys-color-surface-container: rgb(235 239 235);
  --md-sys-color-surface-container-high: rgb(230 233 229);
  --md-sys-color-surface-container-highest: rgb(224 227 223);
}
